@page "/fetchdata"
@using MyComponents
@using MyServerApp.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<Grid Items="forecasts">
	<LoadingTemplate>
		<p><em>Loading...</em></p>
	</LoadingTemplate>
	<Columns>
		<Column HeaderText="Date" width="300px">@context.Date.ToShortDateString()</Column>
		<Column HeaderText="Temp. (C)" style="font-weight: bold; text-decoration: underline; color: red;">
			@context.TemperatureC
		</Column>
		<Column HeaderText="Temp. (F)">
			@context.TemperatureF
		</Column>
		<Column HeaderText="Summary">
			@context.Summary
		</Column>
	</Columns>
</Grid>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }
}
